Q1 -> what is database? Differentiate between SQL and NoSql databases

In [2]:
# SQL database or relational database is a collection of highly structured tables, wherein each row reflects a data entity, and every column 
# defines a specific information field. Relational databases are built using the structured query language (SQL) to create, store, update, and retrieve
# data.

In [1]:
# SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
# SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [3]:
# The table below summarizes the main differences between SQL and NoSQL databases.

# SQL Databases
# NoSQL Databases

# Data Storage Model -:
# Tables with fixed rows and columns
# Document: JSON documents, Key-value: key-value pairs, Wide-column: tables with rows and dynamic columns, Graph: nodes and edges

# Development History -:
# Developed in the 1970s with a focus on reducing data duplication
# Developed in the late 2000s with a focus on scaling and allowing for rapid application change driven by agile and DevOps practices.

# Examples -:
# Oracle, MySQL, Microsoft SQL Server, and PostgreSQL
# Document: MongoDB and CouchDB, Key-value: Redis and DynamoDB, Wide-column: Cassandra and HBase, Graph: Neo4j and Amazon Neptune

# Primary Purpose -:
# General purpose
# Document: general purpose, Key-value: large amounts of data with simple lookup queries, Wide-column: large amounts of data with predictable query
# patterns, Graph: analyzing and traversing relationships between connected data

# Schemas -:
# Rigid
# Flexible

# Scaling -:
# Vertical (scale-up with a larger server)
# Horizontal (scale-out across commodity servers)

# Multi-Record ACID Transactions -:
# Supported
# Most do not support multi-record ACID transactions. However, some — like MongoDB — do.

# Joins -:
# Typically required
# Typically not required

# Data to Object Mapping -:
# Requires ORM (object-relational mapping)
# Many do not require ORMs. MongoDB documents map directly to data structures in most popular programming languages.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
# Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include 
# schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.

In [10]:
# CREATE 

# The CREATE PROCEDURE command is used to create a stored procedure. A stored procedure is a prepared SQL code that you can save, so the code
# can be reused over and over again.

# for ex-:

# The CREATE DATABASE command is used is to create a new SQL database.
# CREATE DATABASE testDB;

# The CREATE TABLE command creates a new table in the database.
# CREATE TABLE Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# );

In [9]:
# DROP

# The Drop command in SQL not only deletes a table but also deletes other entities such as database, column, index, constraint, etc.
# For example, the DROP COLUMN command deletes the specified column from the table, and the DROP DATABASE command deletes the specified database
# and all of its information.

# syntax -:
# DROP object object_name

# To drop a database -:
# DROP DATABASE database_name;

In [8]:
# ALTER 

# The ALTER command in SQL is used to make changes to a table, view, or the entire database. We can add, modify, and drop constraints, columns,
# and indexes using the ALTER command in SQL.24-Feb-2023

# The ALTER command is a DDL command to modify the structure of existing tables in the database by adding, modifying, renaming, or dropping columns 
# and constraints. You can add columns, rename columns, delete columns, or change the data type of columns using the ALTER command.

# FOR EXAMPLE -:

# To add a column in a table, use the following syntax:

# ALTER TABLE table_name
# ADD column_name datatype;

In [7]:
# TRUNCATE

# The major difference between TRUNCATE and DROP is that truncate is used to delete the data inside the table not the whole table.

# TRUNCATE statement is a Data Definition Language (DDL) operation that is used to mark the extent of a table for deallocation (empty for reuse).
# The result of this operation quickly removes all data from a table, typically bypassing several integrity-enforcing mechanisms.
# The TRUNCATE TABLE mytable statement is logically (though not physically) equivalent to the DELETE FROM mytable statement (without a WHERE clause).


# Syntax -:

# TRUNCATE TABLE  table_name;
# table_name: Name of the table to be truncated.
# DATABASE name – student_data

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [11]:
# Data Manipulation Language (DML) is a class of SQL statements that are used to query, edit, add and delete row-level data from database tables.

In [12]:
# INSERT 

# INSERT is your go-to for adding single or multiple rows to a table. INSERT can also help with adding rows from one table into another table.

# The basic structure of an SQL INSERT statement:

# INSERT INTO tableName
# (column1, column2, ...)
# VALUES (value1, value2, ...)

In [13]:
# UPDATE 

# The SQL UPDATE statement is another common task used by data engineers and database administrators. Use it to change a column value for one or
# multiple rows.

# The basic structure of an SQL UPDATE Statement

# UPDATE tableName
# SET column1=value1, column2=value2,...
# WHERE filterColumn=filterValue

In [14]:
# DELETE

# SQL DELETE is the diaper change of the SQL world. Is there something you don't want in there? Delete it!

# DELETE removes one or multiple rows from a table, but be careful! You need to make sure you know what you're deleting before you go
# ahead and commit to the statement!

# Here's what your average SQL DELETE statement looks like:

# DELETE tableName
# WHERE  filterColumn=filterValue;

Q4. What is DQL? Explain SELECT with an example.

In [15]:
# The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages. 
# The SQL sub languages have four major categories, DQL, DDL, DCL, and DML.

In [16]:
# SELECT

# One of the most important tasks when working with SQL is to generate Queries and retrieve data. A Query is a command given to get a desired
# result from the database table. The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a
# subset of records from one or more tables. The SELECT command can be used in various forms:

# Syntax of SELECT command :

# SELECT <column-list>FROM<table-name>;

# · Table-name is the name of the table from which the information is retrieved.
# · Column-list includes one or more columns from which data is retrieved.

Q5. Explain Primary Key and Foreign Key.

In [17]:
# A primary key is a column (or set of columns) in a table that uniquely identifies each row in the table. It cannot contain null values and must be
# unique across all rows in the table. Only one primary key is allowed in a table.

# A primary key is basically a combination of the 'UNIQUE' and 'Not Null' constraints. Thus, it cannot be a NULL value. Another important point 
# to be noted about primary key is that its value cannot be deleted from the parent table.

In [18]:
# A foreign key is a column (or set of columns) in a table that refers to the primary key in another table. It is used to establish a link between
# the two tables and is used to enforce referential integrity in the database. Foreign key is basically the field/column in a table that is analogous
# to the primary key of other table.

# Unlike a primary key, a table can have more than one foreign key. Also, the foreign key can contain duplicate and null values in a relational
# database. The value of a foreign key can be deleted from the child table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [19]:
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="yourusername",
#   password="yourpassword"
# )

# print(mydb)

In [20]:
# CURSOR()

# The MySQLCursor class instantiates objects that can execute operations such as SQL statements. Cursor objects interact with the MySQL server using
# a MySQLConnection object. To create a cursor, use the cursor() method of a connection object: import mysql. connector cnx = mysql. connector.

In [21]:
# EXECUTE()

# execute(operation, params=None, multi=True) This method executes the given database operation (query or command). The parameters found in the tuple
# or dictionary params are bound to the variables in the operation. Specify variables using %s or %( name )s parameter style (that is, using format or
# pyformat style).

Q7. Give the order of execution of SQL clauses in an SQL query.

In [22]:
# SQL queries are used to access a set of records present in our database tables. SQL queries are made up of one or more clauses. A particular order
# must be followed to execute these clauses to obtain correct results. This order of execution is known as SQL query execution order.

In [23]:
# Order	Clause	    Function
# 1	    FROM	    Tables are joined to get the base data.
# 2	    WHERE	    The base data is filtered.
# 3	    GROUP BY	The filtered base data is grouped.
# 4	    HAVING	    The grouped base data is filtered.
# 5	    SELECT	    The final data is returned.
# 6	    ORDER BY	The final data is sorted.
# 7	    LIMIT	    The returned data is limited to row count.

In [24]:
# Table 1 - Customers

# customer_id	first_name
# 1	         John
# 2	         Robert
# 3	         David
# 4	         John
# 5	         Betty

In [25]:
# Table 2 - Order

# order_id	amount	customer_id
# 1	         200	4
# 2	         500	10
# 3	         300	3
# 4	         800	1
# 5	         150	2

In [26]:
# SELECT Customers.customer_id, Customers.first_name, Orders.amount, Orders.order_id
# FROM Customers
# JOIN Orders
# ON Customers.customer_id = Orders.customer_id
# WHERE Orders.order_id <=4
# ORDER BY Orders.order_id ASC
# LIMIT 2